
{% extends "admin_dashboard/navbar_admin.html" %}
{% load static %}

{% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<div class="container">
 
<div class="row" style="margin-top: 30px">
    <div class="col-md-12">
            <table class="table bg-white">
                <thead class=""  style="background-color: white;">
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Product</th>
                         <th scope="col">Variation</th>
                        <th scope="col">Cart</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Activity</th>
                    </tr>
            
                </thead>
                <tbody>
                  {% for cart in carts %}
                    <tr>
                       <td>{{cart.user}}</td>
                        <td>{{cart.product}}</td>
                        <td>{{cart.variations}}</td>
                        <td>{{cart.cart}}</td>
                        <td>{{cart.quantity}}</td>
                        <td>
                        <a class="btn btn-danger btn-sm" href="{% url 'cart-delete' cart.pk %}">Delete</a>
                        </td>

                    </tr>
                  {% endfor %}           
                </tbody>  
            </table>
    </div>
</div>
{% endblock %}
