
{% extends "admin_dashboard/navbar_admin.html" %}
{% load static %}

{% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<div class="container">
<br>
<div class="text-align: center">{% include 'partial/alerts.html' %}</div>
 
<div class="row" style="margin-top: 30px">
    <div class="col-md-12">
            <table class="table bg-white">
                <thead class=""  style="background-color: white;">
                    <tr>
                        <th scope="col">Order Number</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">City</th>
                        <th scope="col">Order Total</th>
                        <th scope="col">Tax</th>                    
                        <th scope="col">Created_at</th>
                        <th scope="col">Status</th>
                        <th scope="col">Activity</th>
                    </tr>
            
                </thead>
                <tbody>
                  {% for order in orders %}
                    <tr>
                       <td>{{order.order_number}}</td>
                       <td>{{order.full_name}}</td>
                       <td>{{order.phone}}</td>
                       <td>{{order.email}}</td>
                       <td>{{order.city}}</td>
                       <td>{{order.order_total}}</td>
                       <td>{{order.tax}}</td>
                      <td>{{order.created_at}}</td>
                       <td>
                       {{order.status}}
                        {% comment %} <form action="" method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          {{form}}
                        </form> 
                        </span> {% endcomment %}
                       </td>
                         <td>
                        
                        <a class="btn btn-danger btn-sm" href="{% url 'order-delete' order.pk %}">Delete</a>
                        </td>
                      

                    </tr>
                  {% endfor %}           
                </tbody>  
            </table>
    </div>
</div>
{% endblock %}
